In [2]:
import pandas as pd
import numpy as np

In [3]:
dftest = pd.read_csv("test.csv",encoding= 'unicode_escape')

In [4]:
dftrain = pd.read_csv("train.csv",encoding= 'unicode_escape')

In [5]:
dftrain.head()

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26

In [6]:
dftest.head()

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,morning,0-20,Afghanistan,38928346.0,652860.0,60.0
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon,21-30,Albania,2877797.0,27400.0,105.0
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night,31-45,Algeria,43851044.0,2381740.0,18.0
3,01082688c6,happy bday!,positive,morning,46-60,Andorra,77265.0,470.0,164.0
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,noon,60-70,Angola,32866272.0,1246700.0,26.0

In [7]:
dftrain["sentiment"].value_counts()

neutral     11118
positive     8582
negative     7781
Name: sentiment, dtype: int64

In [9]:
dftest["sentiment"].value_counts()

neutral     1430
positive    1103
negative    1001
Name: sentiment, dtype: int64

In [51]:
alldata = dftrain.append(dftest)

C:\Users\stbah\AppData\Local\Temp\ipykernel_13172\4003569921.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  alldata = dftrain.append(dftest)

In [53]:
alldata.head()

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346.0,652860.0,60.0
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797.0,27400.0,105.0
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044.0,2381740.0,18.0
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265.0,470.0,164.0
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272.0,1246700.0,26.0

## Text Preprocessing

In [14]:
import string
import re
import nltk
from nltk.corpus import stopwords

punctation = string.punctuation
bots = stopwords.words('english')
print(punctation)
print(bots)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [54]:
for d in alldata['text'].head():
    print(d + '\n------------------')
    temp = ''
    for word in d.split():
        if word not in bots and not word.isnumeric():
            temp += word + ' '
    print(temp + '\n--*--*--*--*--*--*--*--')

 I`d have responded, if I were going
------------------
I`d responded, I going
--*--*--*--*--*--*--*--
 Sooo SAD I will miss you here in San Diego!!!
------------------
Sooo SAD I miss San Diego!!!
--*--*--*--*--*--*--*--
my boss is bullying me...
------------------
boss bullying me...
--*--*--*--*--*--*--*--
 what interview! leave me alone
------------------
interview! leave alone
--*--*--*--*--*--*--*--
 Sons of ****, why couldn`t they put them on the releases we already bought
------------------
Sons ****, couldn`t put releases already bought
--*--*--*--*--*--*--*--

In [55]:
for d in alldata['text'].head():
    print(d+'\n............................')
    temp = ''
    for word in d:
        if word not in punctation:
            temp += word
    print(temp + '\n***********************************')
    d = temp

 I`d have responded, if I were going
............................
 Id have responded if I were going
***********************************
 Sooo SAD I will miss you here in San Diego!!!
............................
 Sooo SAD I will miss you here in San Diego
***********************************
my boss is bullying me...
............................
my boss is bullying me
***********************************
 what interview! leave me alone
............................
 what interview leave me alone
***********************************
 Sons of ****, why couldn`t they put them on the releases we already bought
............................
 Sons of  why couldnt they put them on the releases we already bought
***********************************

In [56]:
alldata.to_csv(r'processtestend.csv', index=False)

In [57]:
newdata = pd.read_csv('processtestend.csv', sep=",", names = ["textID", "text", "sentiment","Time Of Tweet","Age of User", "Country", "Population-2020","Land Area", "Density"])

In [58]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(alldata["text"].values.astype('U'),alldata["sentiment"].values.astype('U'), test_size=0.1, random_state=42)

In [59]:
x_train.shape

(29066,)

In [60]:
x_test.shape

(3230,)

In [61]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
x_train_counts = count_vect.fit_transform(x_train)
x_train_counts.shape

(29066, 26679)

In [62]:
from sklearn.naive_bayes import MultinomialNB
clf =MultinomialNB().fit(x_train_counts, y_train)
x_test_counts = count_vect.transform(x_test)

In [63]:
y_pred = clf.predict(x_test_counts)
for text, sentiment in zip(x_test[:5], y_pred[:]):
    print('%r => %s' % (text, sentiment))

' Kev, **** off! I`m stuck in Westgate working' => negative
'_A_Tx lol i havent watched it yet..  congrats!' => positive
' Anytime' => neutral
' You are very, very good. Why didn`t I think of that?' => positive
' mama the boys gon be sweating her hard in Pre K  lol muah' => neutral

In [64]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.6640866873065016

In [65]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer()
x_train_tfidf = tfidf_transformer.fit_transform(x_train_counts)

In [66]:
x_test_tfidf = tfidf_transformer.transform(x_test_counts)

In [67]:
dy_pred = clf.predict(x_test_tfidf)
for text, sentiment in zip(x_test[:5], y_pred[:]):
    print('%r => %s' % (text, sentiment))

' Kev, **** off! I`m stuck in Westgate working' => negative
'_A_Tx lol i havent watched it yet..  congrats!' => positive
' Anytime' => neutral
' You are very, very good. Why didn`t I think of that?' => positive
' mama the boys gon be sweating her hard in Pre K  lol muah' => neutral

In [68]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, dy_pred))

0.6340557275541796